MACHINE 68000
ENTRY $00010000
OFFSET $00010000
CODE $00010000 - $00010084
CODE $000100AA - $00010F78
TEXT $0001008C - $000100AA
SYMBOL SetDriveParams $000100AA
SYMBOL RawRead $000100FE
SYMBOL SaveFile $00010106
SYMBOL Ratt_Unknown $0001010E
SYMBOL LoadFile $00010116
SYMBOL WriteDir $00010122
SYMBOL Write_Unknown $00010168
SYMBOL FindDirEntry $00010172
SYMBOL RenameFile $0001017A
SYMBOL GetDrives $00010198
SYMBOL EmptyFunc $0001019C
SYMBOL GetDiskDir $0001019E
SYMBOL GetBuffers $000101B0
SYMBOL SetDataBuff $000101BA
SYMBOL SetDirBuff $000101C2
SYMBOL ResetDrives $000101C8
SYMBOL SetInts $000101DC
SYMBOL RestoreInts $000101F0
SYMBOL SetDirSize $00010212
SYMBOL ClearDir $00010224
SYMBOL GetEmptyTrack $0001022C
SYMBOL SetSync $00010240
SYMBOL InitDrSync $00010248
SYMBOL InitDrives $00010256
SYMBOL ChangeDisk $000102A6
SYMBOL SpecMotorOff $0001067E
SYMBOL MotorOff $00010682
SYMBOL GetMemInfo $00010C90
SYMBOL FreeMem $00010C9A
SYMBOL AllocMemType $00010D32
SYMBOL AllocateMem $00010D72
SYMBOL MemoryFunc $00010DA8
SYMBOL Initialise $00010E2C
SYMBOL DataBuffer $00010F78
SYMBOL DirBuffer $00010F8C
LABEL SomeBytes $00010084
LABEL VersionStr $0001008C
COMMENT $101E0 intenar
COMMENT $101E6 intena
COMMENT $101FA intena
COMMENT $10284 hardbase
COMMENT $10292 prb
BANNER $10000 RATT-DOS
BANNER $10000 Raw binary file of Crowther's disk operating system
BANNER $10000 Apparently it was faster than AmigaDOS, aided portability to Atari ST,
BANNER $10000 and made the game harder to pirate.
BANNER $10000 Functions from WHDLoad
BANNER $10000 In emulator it loads at memory location 0x138
BANNER $10F78 Data values follow
EQU dmaconr $1028C.W
END
